# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
.vscode
.idea/

# local machine-specific Gradle settings (never commit)
local.properties

# Files from Forge MDK
forge*changelog.txt
